<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- adding cdn for flash animation in css and js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <!-- adding jquery for ajax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- linking our css file here -->
        <link rel="stylesheet" href="/css/layout.css">
        <!-- adding scss -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">


        <!-- linking our sub pages css here -->
        <%-style %>
    </head>
    <body>
        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <%- include('_header.ejs'); -%>
        <!-- for flash message -->
        

        <!-- no need to use variable part only we are use the common part -->
        <!-- we need to tell that where is varible part render that is told by body -->
        <!-- here body is predefine in library so body tell use the varibale part here -->
        <main id="layout-main">
        <%- body %>

        </main>
         <!-- file inclued from _footer.ejs syntax -->
        <%- include('_footer.ejs'); -%>  
        
        <%- script %>

        <!-- for flash messages -->
        <script>
            <% if (flash.success && flash.success.length >0) { %>
                new Noty({
                theme:'relax',
                text: "<%= flash.success %>",
                type:'info',
                layout:'topRight',
                timeout:1500
                }).show();
            <% } %>

            <% if (flash.error && flash.error.length >0) { %>
                new Noty({
                theme:'relax',
                text: "<%= flash.success %>",
                type:'error',
                layout:'topRight',
                timeout:1500
                }).show();
            <% } %>

        </script>
    </body>
</html>