<html>
    <head>
        <title>
            <%= title %>
        </title>

        <!-- linking our css file here -->
        <link rel="stylesheet" href="/css/layout.css">

        <!-- linking our sub pages css here -->
        <%-style %>
    </head>
    <body>
        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <%- include('_header.ejs'); -%>
        <!-- no need to use variable part only we are use the common part -->
        <!-- we need to tell that where is varible part render that is told by body -->
        <!-- here body is predefine in library so body tell use the varibale part here -->
        <%- body %>
         <!-- file inclued from _footer.ejs syntax -->
        <%- include('_footer.ejs'); -%>  
        
        <%- script %>
    </body>
</html>