        <link rel="stylesheet" href="/css/user_profile.css">
        <!-- here every thing is controll by layout so we dont need that we only need the content shown in body -->
        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <!-- <a href="/users/sign-Out">
                <button type="submit">Sign Out</button>        
        </a> -->
        <h1>codeial/profile page</h1>

        <!--  file inclued from _footer.ejs syntax -->
        
        <!-- VIEW IMAGE ON BROWSER -->
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

        <% if(user.id == profile_user.id){ %>
                
                <!-- enctype="multipart/form-data" is use for file upload we are just install multer npm install multer -->

                <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">

                        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                        
                        <input type="file" name="avatar" placeholder="Profile Picture">
                        <input type="submit" value="Update">
                </form>
        <%}else{%>
                <!-- else show only the profile info -->
                <p><%=profile_user.name %></p>
                <p><%=profile_user.email %></p>

        <%} %>