        <!-- here every thing is controll by layout so we dont need that we only need the content shown in body -->
        <!-- file inclued from _header.ejs syntax -->
        <!-- header and footer area are called layout -->
        <!-- <a href="/users/sign-Out">
                <button type="submit">Sign Out</button>        
        </a> -->
        <h1>codeial/profile page</h1>

        <!--  file inclued from _footer.ejs syntax -->
        
        

        <% if(user.id == profile_user.id){ %>
                

                <form action="/users/update/<%= profile_user.id %>" method="post">

                        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                        <input type="submit" value="Update">
                </form>
        <%}else{%>
                <!-- else show only the profile info -->
                <p><%=profile_user.name %></p>
                <p><%=profile_user.email %></p>

        <%} %>